*.apk
*.aab
*.dng
*.raw
*.bin
*.so
*.keystore
*.jks
*.log
*.xml.json
__pycache__/
build/
dist/
stock/
*.partial
!app/assets/*.so
!app/assets/*.bin
!app/native/prebuilt/arm64-v8a/*.so
!tools/photo_v5/payload/*.so
!prebuilt/*.apk
